# Checkpoint mgmt_cli 
# Language version: 1.8
# Config for {{ inventory_hostname }}

# management add admin users

{% for user in fm_users %}
{% if user.name is defined  %}
{% if user.password is defined  %}
{% if user.email is defined  %}

add administrator name "{{ user.name }}" password "{{ user.password }}" must-change-password {{ user.pwd_change|default('true') }} email "{{ user.email }}" authentication-method "{{ user.must_change_password|default('INTERNAL_PASSWORD') }}" permissions-profile "{{ user.permission_profile|default('read only profile') }}" --domain '{{ user.domain|default('System Data') }}' --format json

{% endif %}
{% endif %}
{% endif %}
{% endfor %}



