# Gernated by Ansible Role {{ role_name|basename }}
# Checkpoint DHCP and IPv6 SLAAC


{% for iface , value in port.items() %}
 {% for vlanid , value in value.items() %}
  {% if value.config == "l3"  %}
   {% for dhcp_server in dhcp_server %}
set bootp interface {{ iface }}.{{ vlanid }} relay-to {{ dhcp_server }} on
   {% endfor %}
  {% endif %}
 {% endfor %}
{% endfor %}

{% for iface , value in port.items() %}
    {% for vlanid , value in value.items() %}
        {% if value.config == "l3"  %}


set ipv6 rdisc6 interface {{ iface }}.{{ vlanid }} on
set ipv6 rdisc6 interface {{ iface }}.{{ vlanid }} address {{ value.IPv6 }} prefix-pref-lifetime default
set ipv6 rdisc6 interface {{ iface }}.{{ vlanid }} address {{ value.IPv6 }} prefix-valid-lifetime default

        {% endif %}
    {% endfor %}
{% endfor %}