# Documentaion build {{ role_name|basename }}
{% if ansible_date_time.date is defined %}
# Generated {{ ansible_date_time.date }}
{% endif %}
# Documentaion for {{ inventory_hostname|lower }}
# Managed by Ansible


## management admin users

| Username | email |
| ------ | ------ |
| cell | cell |
{% for user in fm_users %}
{% if user.name is defined  %}
{% if user.password is defined  %}
{% if user.email is defined  %}
| "{{ user.name }}" | "{{ user.email }}"
{% endif %}
{% endif %}
{% endif %}
{% endfor %}