# Gernated by Ansible Role {{ role_name|basename }}

# Checkpoint L3 Interfaces
# Add VLANs to Bond Interface
{% for interfaces , value in interfaces.items() %}
{% if value.switchport_mode is defined  and value.vlan_id is defined %}
{% if value.switchport_mode == "routed"  %}
add interface {{ interfaces.split('.')[-2] }} vlan {{ value.vlan_id }}
{%endif%}
{%endif%}
{% endfor %}


# Configure L3 Interface
{% for interfaces , value in interfaces.items() %}
{% if value.switchport_mode is defined  %}
{% if value.switchport_mode == "routed"  %}
# interface {{ interfaces }}
  {% if value.pport is defined or value.hostname is defined %}
  set interface {{ interfaces }} comments "{{ value.description | default ('none') }}"
  {% if value.ipv4 is defined %}
  set interface {{ interfaces }} ipv4-address {{ value.ipv4 |  ipaddr('address') }} mask-length {{ value.ipv4 | ipaddr ('prefix')}}
  {% endif %}
  {% if value.ipv6 is defined %}
  set interface {{ interfaces }} ipv6-address {{ value.ipv6 |  ipaddr('address') }} mask-length {{ value.ipv6 | ipaddr ('prefix') }}
  {% endif %}
  set interface {{ interfaces }} state on
  {% elif value.vlan_id is defined %}
  set interface {{ interfaces }} comments "{{ value.description | default ('none')}}"
  {% if value.ipv4 is defined %}
  set interface {{ interfaces }} ipv4-address {{ value.ipv4 |  ipaddr('address') }} mask-length {{ value.ipv4 | ipaddr ('prefix')}}
  {% endif %}
  {% if value.ipv6 is defined %}
  set interface {{ interfaces }} ipv6-address {{ value.ipv6 |  ipaddr('address') }} mask-length {{ value.ipv6 | ipaddr ('prefix') }}
  {% endif %}
  set interface {{ interfaces }} state on
  {% else %}
  set interface {{ interfaces }} comments "{{ value.description | default ('none')}}"
  {% if value.ipv4 is defined %}
  set interface {{ interfaces }} ipv4-address {{ value.ipv4 |  ipaddr('address') }} mask-length {{ value.ipv4 | ipaddr ('prefix')}}
  {% endif %}
  {% if value.ipv6 is defined %}
  set interface {{ interfaces }} ipv6-address {{ value.ipv6 |  ipaddr('address') }} mask-length {{ value.ipv6 | ipaddr ('prefix') }}
  {% endif %}
  set interface {{ interfaces }} state on
  {% endif %}


{% endif %}
{% endif %}
{% endfor %}


# Checkpoint Interfaces old Syntax (Deprecated)

{% for iface , value in port.items() %}
    {% for vlanid , value in value.items() %}
        {% if value.config == "l3"  %}
add interface {{ iface }} vlan {{ vlanid }}
        {% endif %}
    {% endfor %}
{% endfor %}


{% for iface , value in port.items() %}
    {% for vlanid , value in value.items() %}
        {% if value.config == "l3"  %}
set interface {{ iface }}.{{ vlanid }} comments "{{ value.desc }}"
set interface {{ iface }}.{{ vlanid }} ipv4-address {{ value.IPv4 }} mask-length {{ value.IPv4_mask }}
set interface {{ iface }}.{{ vlanid }} ipv6-address {{ value.IPv6 }} mask-length {{ value.IPv6_mask }}
set interface {{ iface }}.{{ vlanid }} state on
        {% endif %}
    {% endfor %}
{% endfor %}



